In [22]:
import pandas as pd


census_df = pd.read_excel("census-TX.xlsx", skiprows=range(1,4))
census_df.columns=["City","Census","Estimates Base","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"]
census_df["City"] = census_df["City"].str[:-7]

census_df.head()

,City,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Abbott city,356,361.0,362.0,362.0,361.0,355.0,354.0,354.0,356.0,361.0,365.0,369.0
1,Abernathy city,2805,2812.0,2818.0,2833.0,2822.0,2798.0,2738.0,2724.0,2741.0,2735.0,2711.0,2706.0
2,Abilene city,117063,117514.0,117805.0,118762.0,119853.0,119797.0,120648.0,121707.0,121883.0,122186.0,122775.0,123420.0
3,Ackerly city,220,220.0,220.0,219.0,219.0,225.0,228.0,230.0,229.0,228.0,229.0,232.0
4,Addison town,13056,12537.0,12565.0,13259.0,14640.0,14871.0,14931.0,15013.0,14945.0,14924.0,15338.0,16263.0

In [23]:
lat_long_df = pd.read_excel("loc-TX.ods")
lat_long_df.head()

             City    Lat    Long
0     Abbott city  31.89  -97.08
1  Abernathy city  33.83 -101.85
2    Abilene city  32.45  -99.74
3           Abram  26.22  -98.42
4    Ackerly city  32.53 -101.72

In [25]:
pd.merge(lat_long_df, census_df, on='City')

,City,Lat,Long,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Abbott city,31.89,-97.08,356,361.0,362.0,362.0,361.0,355.0,354.0,354.0,356.0,361.0,365.0,369.0
1,Abernathy city,33.83,-101.85,2805,2812.0,2818.0,2833.0,2822.0,2798.0,2738.0,2724.0,2741.0,2735.0,2711.0,2706.0
2,Abilene city,32.45,-99.74,117063,117514.0,117805.0,118762.0,119853.0,119797.0,120648.0,121707.0,121883.0,122186.0,122775.0,123420.0
3,Ackerly city,32.53,-101.72,220,220.0,220.0,219.0,219.0,225.0,228.0,230.0,229.0,228.0,229.0,232.0
4,Addison town,32.96,-96.84,13056,12537.0,12565.0,13259.0,14640.0,14871.0,14931.0,15013.0,14945.0,14924.0,15338.0,16263.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209,Wylie city,33.04,-96.52,41427,41685.0,42044.0,43597.0,44769.0,45352.0,46439.0,47348.0,48499.0,49536.0,51003.0,53067.0
1210,Yantis town,32.93,-95.58,388,388.0,388.0,390.0,391.0,393.0,396.0,400.0,406.0,412.0,423.0,428.0
1211,Yoakum city,29.29,-97.15,5815,5809.0,5800.0,5829.0,5883.0,5909.0,5936.0,5976.0,5972.0,5944.0,5946.0,5940.0
1212,Yorktown city,28.98,-97.51,2092,2092.0,2086.0,2116.0,2123.0,2114.0,2134.0,2142.0,2125.0,2065.0,2053.0,2050.0
1213,Zavalla city,31.16,-94.42,713,713.0,713.0,716.0,713.0,712.0,712.0,716.0,716.0,717.0,711.0,710.0